{% extends "layout.html" %}
{%block style %}
  <style>
    .bodyWrap > *{
      margin: 10px 0 20px 0;
    }
    .bodyWrap >*> *{
      color: white;
    }

    .topWrap > *{
      border:1px solid white;
    }
    .topWrap{
      display: flex;
      justify-content: space-between;
      width:80%;
    }
    .poster{
      width:350px;
      height:502px;
      color:white;
    }
    .infoWrap{
      width:50%;
      align-items: center;
    }
    .infoWrap > *{
      width:50%;
      height: 40px;
      border: 1px solid white;
      margin: 10px;
      line-height: 40px;
      color: white;
    }
    .titleWrap{
      width:50%;
      display: flex;
      align-items: center;
    }
    .title{
      margin: 0 10px 0 0;
    }
    .platformInfoWrap{
      width:90%;
      height: 250px;
    }
    .middleWrap{
      display: grid;
      grid-template-columns: 2.5fr 1.5fr;
      width:80%;
      height:300px;
      /*border: 1px solid white;*/
      align-items: center;
    }
    .story{
      height: 250px;
      border: 1px solid white;
    }
    .youtube{
      height: 250px;
      border:1px solid white;
    }
    .bottomWrap{
      width:90%;
      min-height: 200px;
      /*border: 1px solid white;*/
      display: flex;
      justify-content: space-between;
    }
    .commentWrap{
      width:90%;
      min-height: 180px;
      border: 1px solid white;
    }
    .commentBtn{
      width:10%;
      height: 35px;
      background:#313131;
      line-height: 50%;
      border: none;
      border-radius: 5px;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="topWrap">
    <div class="poster">포스터</div>
    <div class="infoWrap">
      <div class="titleWrap">
        <div class="title">영화 제목</div>
        <div class="year">연도</div>
      </div>
      <div class="director">감독</div>
      <div class="genre">장르</div>
      <div class="actor">출연진</div>
      <div class="platformInfoWrap"></div>
    </div>
  </div>
  <div class="middleWrap">
    <div class="story">줄거리</div>
    <div class="youtube">소개 영상</div>
  </div>
  <div class="bottomWrap">
    <div class="commentWrap"></div>
    <button class="commentBtn">게시</button>
  </div>
{% endblock %}
{% block script %}

{% endblock %}
</body>
</html>