{% extends "layout.html" %}
{%block style %}
<style>
  /*.bodyWrap{*/
  /*  height: auto;*/
  /*}*/
  .bodyWrap > *{
    margin: 10px 0 20px 0;
  }
  .bodyWrap >*> *{
    color: white;
  }

  .topWrap > *{
    /*border:1px solid white;*/
  }
  .topWrap{
    padding-top: 50px;
    position: relative;
    top:-70px;
    background: #181818;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    width:90%;
    z-index: 3;
    border-radius: 15px;
    /*box-shadow:  0 -30px 20px 10px black;*/
    /*border: 1px solid white;*/
    /*min-height: 800px;*/
    /*min-width: 90%;*/
  }
  .poster{
    width:300px;
    height:400px;
    color:white;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 10px;
  }
  .infoWrap{
    width:100%;
    min-width: 75%;
    align-items: center;

  }
  .infoWrap > *{
    width:50%;
    height: 40px;
    /*border: 1px solid white;*/
    margin: 10px;
    line-height: 40px;
    color: white;
  }
  .titleWrap{
    width:100%;
    display: flex;
    align-items: flex-end;
    border: none;
    /*border: 1px solid white;*/
  }
  .title{
    /*border: 1px solid white;*/
    margin: 0 15px 0 0;
    height:40px;
    font-size: 35px;
  }
  .year{
    display: grid;
    place-content:start start ;
    height:25px;
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .directorWrap, .genreWrap, .actorWrap{
    width: 100%;
    display: flex;
    border: none;
  }
  .directortab, .genretab, .actortab{
    /*border: 1px solid white;*/
    width:15%;
    /*height: 100%;*/
  }
  .director, .actors, .genre{
    width:75%;
    height: 100%;
    /*border: 1px solid white;*/
  }
  .actorWrap{
    height: 70px;
  }
  .actors{
    display: grid;
    grid-auto-rows: 30px;
    grid-template-columns: repeat(5,minmax(max-content,max-content));
  }
  .actor{
    /*border: 1px solid white;*/
  }
  .platformInfoWrap{
    width:100%;
    height: 250px;
  }
  .platformDetailWrap{
    display: flex;
    width:100%;
    height: 80%;
    /*border: 1px solid white;*/
  }
  .platformInfo{
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .platformIcon{
    width:100px;
    height: 100px;
  }
  .platformName{
    font-size: 20px;
  }
  .middleWrap{
    width:90%;
    position: relative;
    top:-70px;
  }
  .storyWrap, .review{
    font-size: 40px;
  }
  .story{
    margin:10px 0 0 0;
    /*height: 250px;*/
    /*border: 1px solid white;*/
    font-size:20px;
    line-height: 150%;
  }
  /*.youtube{*/
  /*  height: 250px;*/
  /*  border:1px solid white;*/
  /*}*/
  .review{
    width: 90%;
    color: white;
    float: left;
    margin: 0 0 30px 0;
  }
  .bottomWrap{
    width:90%;
    min-height: 200px;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .commentWrap{
    width:90%;
    /*height: 100px;*/
    /*border: 1px solid white;*/
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 0 0 20px 0;
  }
  .inputcomment{
    width:90%;
    height: 50px;
    /*border: 1px solid white;*/
    margin: 0 10px 0 0;
    /*box-shadow: 0 0 3px white;*/

    color: white;
    /*padding: 5px 0 0 5px*/
  }
  .commentplace{
    width:100%;
    height: 50px;
    background: #202020;
    color: white;

  }
  .btnwrap{
    width:10%;
    height: 50px;
    display: grid;
    align-items: end;
    /*border: 1px solid white;*/
    margin: 2px 0 0 0;
  }
  .commentBtn{
    width:100%;
    height: 35px;
    background:#313131;
    line-height: 50%;
    border: none;
    border-radius: 5px;
  }
  .reviews-box{
    margin: 30px 0 0 0;
    width: 90%;
    /*border: 1px solid white;*/
    display: grid;
    place-content: start start;
    grid-auto-columns: 1fr;
    grid-gap: 10px;
  }
  .reviewline{
    width:100%;
    border-bottom: 2px solid white;
    margin:5px 0 5px 0;
  }
  .bgposter{
    width:100%;
    height: 300px;
    /*box-shadow: inset 0 -4em 60px black;*/
    /*background: blue;*/
  }

  .backposter{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center 25%;
    filter: blur(5px);
    z-index: -1;
    /*border-radius: 30px;*/
    /*box-shadow: inset 0 4em 20px 60px black;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background: linear-gradient( to bottom,transparent, black),url("https://images.justwatch.com/poster/193792450/s332/)",'background-repeat' : 'no-repeat');*/
  }



</style>
{% endblock %}

{% block content %}
<div class="bgposter"></div>
<div class="topWrap">
  <div class="poster"></div>
  <div class="infoWrap">
    <div class="titleWrap">
      <div class="title"></div>
      <div class="year"></div>
    </div>
    <div class="directorWrap">
      <div class="directortab">감독</div>
      <div class="director"></div>
    </div>
    <div class="genreWrap">
      <div class="genretab">장르</div>
      <div class="genre"></div>
    </div>
    <div class="actorWrap">
      <div class="actortab">출연진</div>
      <div class="actors"></div>
    </div>
    <div class="platformInfoWrap">
      <div class="platformtab">이곳에서 찾아볼 수 있어요!</div>
      <div class="platformDetailWrap"></div>
    </div>
  </div>
</div>
<div class="middleWrap">
  <div class="storyWrap">시놉시스
    <div class="story"></div>
  </div>
</div>
<div class="review">한줄평</div>
<div class="bottomWrap">
  <div class="commentWrap">
    <div class="inputcomment">
      <input type="text" placeholder="영화에 대한 의견을 남겨주세요" class="commentplace">
    </div>
    <div class="btnwrap">
      <button class="commentBtn" onclick="makeReview()">게시하기</button>
    </div>
  </div>
  <div class="reviews-box"></div>
</div>
{% endblock %}
{% block script %}
<script>
  const search = new URL(location.href).searchParams.get('search')
  // console.log(search)
  $(document).ready(function () {
    getSearchedInfo()
    showReview()
  })
  function getSearchedInfo(){

    $.ajax({
      type: "GET",
      url: "/search/movie",
      data: {
        'search_give': search
      },
      success: function (response) {
        if (response["result"] == "success") {
          let row = response['data'][0]
          // console.log(row)
          let poster = row['poster']
          let title = row['title']
          let year = row['year']
          let director = row['director']
          let genre = row['genre']
          let actor = row['actor']
          let desc = row['desc']
          let reviews = row['reviews']
          let iconurl = row['iconurl']
          let platformname = row['platformname']
          let posterTemp = ` <img class="poster" src="${poster}">`
          let bgposterTemp = ` <img class="backposter" src="${poster}">`
          $('.poster').append(posterTemp)
          // $('.backposter').css({'background':`linear-gradient(to bottom,transparent, black), url(${poster})`})
          // $('.backposter').css({'background-image':`url(${poster})`})
          $('.bgposter').append(bgposterTemp)
          $('.title').text(`${title}`)
          $('.year').text(`${year}`)
          $('.director').text(`${director}`)
          for (let i = 0; i < genre.length; i++) {
            $('.genre').append(`${genre[i]}  `)
          }
          for (let i = 0; i < actor.length; i++) {
            if (actor.length - 1 === i) {
              let temp = `<div class="actor">${actor[i]}</div>`
              $('.actors').append(temp)
            } else {
              let temp = `<div class="actor">${actor[i]}&nbsp&nbsp</div>`
              $('.actors').append(temp)
            }
          }
          for (let i = 0; i < platformname.length; i++) {
            // console.log(iconurl)
            let temp = `<div class="platformInfo">
                           <div class="platformIcon">
                            <img src="${iconurl[i]}">
                           </div>
                           <div class="platformName">${platformname[i]}</div>
                    </div>`
            $('.platformDetailWrap').append(temp)
          }
          $('.story').text(`${desc}`)
          for (let i = 0; i < reviews.length; i++) {
            let review = reviews[i]
            let tempHtml = `<div class="reviewline">
                        ${review}
                   </div>`;
            $(".reviews-box").append(tempHtml);
          }

        }
      }
    })
  }
  function makeReview() {
    let review = $('.commentplace').val()
    let title = search
    console.log(title)
    if(review === ''){
      alert('내용을 입력해주세요')
      $('.commentplace').focus()
      return
    }
    $.ajax({
      type: "POST",
      url:  "/review",
      data: {
        'review_give' : review,
        'title_give' : title
      },
      success: function (response) {
        if (response["result"] == "success") {
          alert(response["msg"] );
          window.location.reload();
        }
      }
    })
  }
  $(".commentplace").keyup(function(e){if(e.keyCode == 13)  makeReview(); });
</script>

{% endblock %}
</body>
</html>