{% extends 'layout.html' %}
{% block style %}
<style>
        body >* {
            width:100%;

        }
        .header, .footer{
            height: 50px;
        }
        .header{
         display: none;
        }
        .topBody, .bottomBody{
            width: 100%;
            height:100vh;
            min-height: 100vh;
            background: blue;
            display: flex;
            align-items: center;
            line-height: 40%;
            flex-direction: column;

        }
        .bottomBody{
            background: yellow;
            /*justify-content: space-evenly;*/
        }
        .topWord{
            margin-top: 140px;
            height:20%;
        }
        .searchbarWrap, .recommendBarWrap{
            width:85%;
            height: 50px;

        }


        .barTopWrap, .barBottomWrap{
            display: flex;
            width:100%;
            height: 50px;
        }
        .searchbar, .recommendBar{
            width:90%;
            height: 100%;
            background: white;
            opacity: 0.5;
            /*border: 1px solid black;*/

        }

        #search{
            width:90%;
            height: 100%;
            background: none;
            margin: 0 0 0 20px;
            padding:0;
            border: none;
        }
        #search:focus{
            outline: none;
        }
        #search ::placeholder{
            color: black;
        }
        .searchBtn, .reccomendBtn{
            width:10%;
            height: 100%;
            border: 1px solid black;
            background: darkblue;
            line-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .searchResult, .recommendBox{
            display: none;
            height:200px;
            width: 100%;
            /*border: 1px solid black;*/
            margin:0;
            padding-top: 10px;
            transition: 1s;
            background: white;
            align-items: center;

        }
        .searchboxLine{
            width:100%;
            height: 10px;
            border-bottom: 2px solid gray;
        }
        .resultBoxText{
            height: 40px;
            width:100%;
            background: skyblue;
            line-height: 40px;
        }
        .recommendWord{
            margin-top: 140px;
            height:20%;
        }
        .recommendBox{
            /*display: grid;*/
            justify-content: space-around;
            grid-gap:5px;
            grid-template-columns: repeat(6,1fr);
            /*height: 250px;*/
        }
        .genrebox{
            border: 1px solid blue;
            height: 50px;
            display: grid;
            place-content: center center;
        }
        .recommendBar{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-auto-rows:100% ;
            grid-gap: 10px;
            justify-content: space-evenly;
        }
        .selectedGenre{
            display: grid;
            place-content: center center;
            border: 1px solid blue;
        }

    </style>
{% endblock %}
{% block content %}
<div class="topBody">
    <div class="topWord"> 찾는 영화가 어디서 서비스중인지 바로 찾아보세요!</div>
    <div class="searchbarWrap">
        <div class="barTopWrap">
            <div class="searchbar">
                <input type="text" id="search" onkeyup="searchEngine(), goSearch()" onfocusout="hideSearch()"  oncplaceholder="찾고 싶은 영화를 입력해주세요">
            </div>
            <button class="searchBtn" type="button" onclick="getInfoUrl()">버튼</button>
        </div>
        <div class="searchResult"></div>
    </div>


</div>
<div class="bottomBody">
    <div class="recommendWord">클릭 몇번으로 내게 딱맞는 영화를 찾아보세요!</div>
    <div class="recommendBarWrap" onmouseenter="getGenreBar()" onmouseleave="hideRecommend()">
        <div class="barBottomWrap">
            <div class="recommendBar"></div>
            <button class="reccomendBtn" type="button" onclick="getRecommendUrl()">버튼</button>
        </div>
        <div class="recommendBox">
            <div class="genrebox action" >액션</div>
            <div class="genrebox animation" >애니메이션</div>
            <div class="genrebox comedy" >코미디</div>
            <div class="genrebox crime" >범죄</div>
            <div class="genrebox documentation" >다큐멘터리</div>
            <div class="genrebox drama" >드라마</div>
            <div class="genrebox fantasy" >판타지</div>
            <div class="genrebox history" >역사</div>
            <div class="genrebox horror" >공포</div>
            <div class="genrebox family" >가족</div>
            <div class="genrebox music" >음악</div>
            <div class="genrebox thriller" >스릴러</div>
            <div class="genrebox romance" >로맨스</div>
            <div class="genrebox sf" >SF</div>
            <div class="genrebox sport" >스포츠</div>
            <div class="genrebox war" >전쟁</div>
            <div class="genrebox western" >서부</div>
            <div class="genrebox european">Made in Europe</div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    let timer, searchedTitle;
    function searchEngine() {
        $('.searchResult').show()
        let search =$('#search').val()
        $('.searchResult').empty()
        if (search ===""){
            $('.searchResult').empty()
            return
        }
        if(timer){
            clearTimeout(timer)
        }
        timer = setTimeout(function(){
            $.ajax({
                type: "GET",
                url: "/search/movie",
                data: {
                    'search_give': search
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        $('.searchResult').empty()
                        $('.searchResult').css('height','200px')
                        let rows = response['data']
                        for (let i = 0; i < rows.length; i++) {
                            let row = rows[i]
                            searchedTitle = row['title']
                            let temp = `<div class="resultBoxText"><a href="/detail?search=${searchedTitle}">${searchedTitle}</a></div><div class = "searchboxLine"></div>`
                            $('.searchResult').append(temp)
                            if ($('#search').val() === ""){
                                hideSearch()
                            }


                        }

                    }
                }
            })
        },400)
    }
    function goSearch(){
        if(window.event.keyCode == 13) {
            let searchinfo = $('#search').val()
            let infourl = `/search?search=${searchinfo}`
            location.href = infourl
        }
    }

    function hideSearch(){
        setTimeout(function (){
            $('.searchResult').empty()
            $('.searchResult').css('padding-top',0)
            $('.searchResult').css('border','none')
            $('.searchResult').animate({
                height:'0px'
            },200)
        },500)}

    function getInfoUrl(){
        let searchinfo = $('#search').val()
        let infourl = `/search?search=${searchinfo}`
        location.href = infourl


    }

    function getGenreBar(){
        setTimeout(function (){
            $('.recommendBox').show()
            $('.recommendBox').animate({height:'200px'},500)
            $('.genrebox').animate({display:'grid'},500)
            $('.recommendBox').css('display','grid')
            $('.genrebox').css('display','grid')
        },500)


    }

    function hideRecommend(){
        setTimeout(function (){
            $('.recommendBox').css('padding-top',0)
            $('.genrebox').css('display','none')
            $('.recommendBox').css('border','none')
            $('.recommendBox').animate({
                height:'0px'
            },200)
        },500)}

    $(document).on('click', '.genrebox', function(e) {
        let genreValArray = []
        let genreVal = $(this).text()
        let temp = `<div class="selectedGenre">${genreVal}</div>`
        genreValArray.push(genreVal)
        for (let i = 0; i < $('.selectedGenre').length; i++) {
            let selectedText = $('.selectedGenre').eq(i).text()
            genreValArray.push(selectedText)
        }
        let check = false;
        for(let i = 0; i < genreValArray.length; i++) {
            const currElem = genreValArray[i];
            for(let j = i+1; j < genreValArray.length; j++) {
                if(currElem === genreValArray[j]) {
                    alert('장르는 하나씩만 선택해주세요!!')
                    return
                }
            }
            if(check)  {
                break;
            }
        }
        if ($('.selectedGenre').text() === genreVal){
            alert('장르는 하나씩만 선택해주세요!!')
            return
        }
        else{
            if($('.selectedGenre').length > 3){
                alert('장르 선택은 4개까지만 가능합니다.')
                return
            }
            $('.recommendBar').append(temp)
        }

    })
    $(document).on('click', '.selectedGenre', function(e) {
        $(e.target).remove()
    })

    function getRecommendUrl(){
        const recommendArray = []
        for (let i = 0; i < $('.selectedGenre').length; i++) {
            let selectedText = $('.selectedGenre').eq(i).text()
            recommendArray.push(selectedText)
        }
        let recommendString = recommendArray.join()
        const recommendUrl = `/search?recommend=${recommendString}`
        location.href = recommendUrl
    }
</script>
{% endblock %}