{% extends 'layout.html' %}
{% block style %}
<style>
  .searchTopWrap{
    width:90%;
    height: 50px ;
  }
  .searchTopWord{
    height: 50px;
    margin-top: 5px;
    /*border: 1px solid white;*/
    color: white;
    font-size: 40px;
    float: left;
  }
  .mainWrap{
    width:90%;
    height: 70%;
    margin: 50px 0 0 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
    place-content: center;
  }
  .resultMovie{
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .poster{
    width:200px;
    height: 300px;
    /*border: 1px solid white;*/
    border-radius: 5px;
    background-size: cover;
  }
</style>
{% endblock %}
{% block content %}
<div class="searchTopWrap">
  <div class="searchTopWord"></div>
</div>
<div class="mainWrap">
</div>
<button id="next-btn" style="margin-top: 30px" onclick="getNext()">더 보기</button>
{% endblock %}
{% block script %}
<script>
  let scroll;
  $(window).scroll(function (){
    scroll = true
    scrollEvent()
  })
  let page = 1;
  let size = 30;
  let search = new URL(location.href).searchParams.get('search')
  let recommend = new URL(location.href).searchParams.get('recommend')
  let recommendSplit;
  if(!search && !recommend){
    $('.searchTopWord').text(`FINDA의 영화목록`)
    getSearchedInfo(page, size)
  }
  else if(!recommend && search){
    $('.searchTopWord').text(`'${search}'에 대한 검색 결과`)
    getSearchedInfo(page, size)
  }
  else {
    $('.searchTopWord').text(`'장르가 ${recommend}'인 영화`)
    recommendSplit = recommend.split(',')
    getRecommendInfo(page, size)
  }
  setInterval(function() {
    if (scroll) {
      scrollEvent();
      scroll = false;
    }
  }, 250);

  function scrollEvent(){
    let scrollLocation = document.documentElement.scrollTop
    // console.log(scrollLocation);
    let windowHeight = window.innerHeight;
    let fullHeight = document.body.scrollHeight; //  margin 값은 포함 x
    if(scrollLocation + windowHeight >= fullHeight){
      console.log('스크롤 다 내려감')
      getNext()
    }

  }


  function getNext() {
    page += 1
    getSearchedInfo(page, size)
  }
  function getSearchedInfo(page, size){
    $.ajax({
      type: "GET",
      url: "/search/movie",
      data: {
        'search_give': search,
        'page_give': page,
        'size_give': size
      },
      success: function (response) {
        if (response["result"] === "success") {
          let rows = response['data']
          const total = response['total']
          for (let i = 0; i < rows.length; i++) {
            let row = rows[i]
            searchedPoster = row['poster']
            searchedTitle = row['title']
            let temp = `
                         <div class="resultMovie">
                            <a href="/detail?search=${searchedTitle}">
                              <img class="poster" src="${searchedPoster}">
                            </a>
                         </div>`
            $('.mainWrap').append(temp)
            if ((page + 1) * size > total) {
              // 마지막 페이지인 경우
              $('#next-btn').hide()
            }
          }
        }
      }
    })
  }

  function getRecommendInfo(page, size){
    $.ajax({
      type: "GET",
      url: "/recommend/movie",
      data: {
        'recommend_give': recommendSplit,
        'page_give': page,
        'size_give': size
      },
      success: function (response) {
        if (response["result"] === 'success'){
          let rows = response['data']
          const total = response['total']
          for (let i = 0; i < rows.length; i++) {
            let row = rows[i]
            searchedPoster = row['poster']
            searchedTitle = row['title']
            searchedgenre = row['genre']
            console.log(searchedgenre)
            let temp = `
                         <div class="resultMovie">
                            <a href="/detail?search=${searchedTitle}">
                              <img class="poster" src="${searchedPoster}">
                            </a>
                         </div>`
            $('.mainWrap').append(temp)
            if ((page + 1) * size > total) {
              // 마지막 페이지인 경우
              $('#next-btn').hide()
            }
          }
        }
      }
    })
  }
</script>
{% endblock %}