{% extends 'layout.html' %}
{% block style %}
<style>
  .whatthe{
    height: 30px;
    border: 1px solid white;
    background: blue;
  }
  .prac{
    color: white;
  }
  .mainWrap{
    width:90%;
    height: 70%;
    background: darkgray;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-evenly;

  }
  .resultMovie{
    width:250px;
    height: 370px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }
  .poster{
    width:200px;
    height: 300px;
    border: 1px solid white;
  }
  .title{
    border: 1px solid white;
    width:80%;
    height: 30px;

  }
</style>
{% endblock %}

{% block content %}
<div class="whatthe">~~~~~에 대한 검색 결과</div>
<div class="prac">~~~~~~에 대한 검색 결과</div>
<div class="mainWrap">
  <div class="resultMovie">
    <div class="poster"></div>
    <div class="title"></div>
  </div>
  <div class="resultMovie">
    <div class="poster"></div>
    <div class="title"></div>
  </div>
  <div class="resultMovie">
    <div class="poster"></div>
    <div class="title"></div>
  </div>
  <div class="resultMovie">
    <div class="poster"></div>
    <div class="title"></div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}
