{% extends 'layout.html' %}
{% block style %}
<style>
  .searchTopWrap{
    width:90%;
    height: 50px ;
  }
  .searchTopWord{
    height: 50px;
    margin-top: 5px;
    /*border: 1px solid white;*/
    color: white;
    font-size: 40px;
    float: left;
  }
  .mainWrap{
    width:90%;
    height: 70%;
    margin: 50px 0 0 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
    place-content: center;

  }
  .resultMovie{
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }
  .poster{
    width:200px;
    height: 300px;
    /*border: 1px solid white;*/
    border-radius: 5px;
    background-size: cover;
  }
  .title{
    border: 1px solid white;
    width:80%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

  }
</style>
{% endblock %}

{% block content %}
<div class="searchTopWrap">
  <div class="searchTopWord"></div>
</div>
<div class="mainWrap">



</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    getSearchedInfo()
  })

  let search = new URL(location.href).searchParams.get('search')
  if(search===""){
    $('.searchTopWord').text(`FINDA의 영화목록`)}
  else{
    $('.searchTopWord').text(`'${search}'에 대한 검색 결과`)
  }
  let pagecount;


  function getSearchedInfo(){

    $.ajax({
      type: "GET",
      url: "/search/movie",
      data: {
        'search_give': search
      },
      success: function (response) {
        if (response["result"] == "success") {
          let rows = response['data']
          pagecount = 0
          for (let i = pagecount; i < rows.length; i++) {
            let row = rows[i]
            searchedPoster = row['poster']
            searchedTitle = row['title']
            let temp = `
                         <div class="resultMovie">
                            <a href="/detail?search=${searchedTitle}">
                              <img class="poster" src="${searchedPoster}">
                            </a>
                         </div>`
            $('.mainWrap').append(temp)
            pagecount++
            if(pagecount>=30){
              return
            }
          }
        }
      }
    })


  }
</script>

{% endblock %}
